#!/usr/bin/make -f
export PYBUILD_NAME=lyanpse

%:
	dh $@ --with python3 --buildsystem=pybuild

override_dh_install:
	dh_install
	install -Dm644 data/lyanpse.desktop debian/lyanpse/usr/share/applications/lyanpse.desktop
	install -Dm644 data/lyanpse.svg debian/lyanpse/usr/share/icons/hicolor/scalable/apps/lyanpse.svg
